

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color:#f5f5f5;
	color: #2B394A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	
	font-weight: 400;
	font-family: 'Karla', sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #e7ab3c;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #2B394A;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}
