
.banner-section {
	padding: 80px 50px;
}


.single-banner {
	position: relative;
	z-index: 1;
}

.single-banner:hover::before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.single-banner::before {
	position: absolute;
	left: 35px;
	top: 30px;
	border: 13px solid #ffffff;
	content: "";
	opacity: 0.3;
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.single-banner img {
	min-width: 100%;
}

.single-banner .inner-text {
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.single-banner .inner-text h4 {
	color: #252525;
	font-weight: 700;
	padding: 11px 28px;
	background: #ffffff;
	border-radius: 2px;
}

/*---------------------
  Women Banner Section
-----------------------*/

.women-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 0;
	padding-bottom: 80px;
}

.product-large {
	height: 620px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	padding-top: 285px;
}

.product-large h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 18px;
}

.product-large a {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	position: relative;
}

.product-large a:before {
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 2px;
	background: #ffffff;
	content: "";
}

.filter-control {
	text-align: center;
	margin-bottom: 45px;
	padding-top: 32px;
}

.filter-control ul li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	color: #b2b2b2;
	margin-right: 22px;
	position: relative;
	cursor: pointer;
}

.filter-control ul li.active {
	color: #171717;
}

.filter-control ul li.active:before {
	opacity: 1;
}

.filter-control ul li:before {
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background: #171717;
	content: "";
	opacity: 0;
}

.filter-control ul li:last-child {
	margin-right: 0;
}

.product-slider .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: -62px;
	top: 25%;
	color: #171717;
	opacity: 0.3;
}

.product-slider .owl-nav button[type=button].owl-next {
	left: auto;
	right: -62px;
	color: #171717;
	opacity: 1;
}

.product-slider .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.product-slider .owl-dots button {
	width: 6px;
	height: 6px;
	background: #D8D9DA;
	border-radius: 50%;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.product-slider .owl-dots button:last-child {
	margin-right: 0;
}

.product-slider .owl-dots button.active {
	width: 30px;
	background: #252525;
	border-radius: 50px;
}



/*---------------------
  Deal Of The Week
-----------------------*/

.deal-of-week {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-left: 65px;
	margin-right: 65px;
}

.countdown-timer {
	text-align: center;
	margin-bottom: 50px;
}

.countdown-timer .cd-item {
	display: inline-block;
	background: #ffffff;
	margin-right: 35px;
	padding: 10px 14px;
	border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
	margin-right: 0;
}

.countdown-timer .cd-item span {
	color: #e7ab3c;
	font-weight: 700;
	line-height: 40px;
	font-size: 36px;
}

.countdown-timer .cd-item p {
	font-size: 16px;
	color: #b2b2b2;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

/*---------------------
  Man Banner
-----------------------*/

.man-banner {
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 80px;
	padding-bottom: 80px;
}

/*---------------------
  Instagram Photo
-----------------------*/

.instagram-photo {
	overflow: hidden;
}

.instagram-photo .insta-item {
	float: left;
	width: 16.66%;
	height: 320px;
	text-align: center;
	position: relative;
}

.instagram-photo .insta-item:hover:before {
	opacity: 1;
}

.instagram-photo .insta-item:hover .inside-text {
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.instagram-photo .insta-item:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.instagram-photo .insta-item .inside-text {
	padding-top: 130px;
	opacity: 0;
	visibility: hidden;
	position: relative;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.instagram-photo .insta-item .inside-text i {
	font-size: 30px;
	color: #ffffff;
}

.instagram-photo .insta-item .inside-text h5 {
	margin-top: 14px;
}

.instagram-photo .insta-item .inside-text h5 a {
	color: #ffffff;
}

/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	padding-top: 72px;
	padding-bottom: 80px;
}

.latest-blog .section-title {
	margin-bottom: 55px;
}

.single-latest-blog {
	margin-bottom: 25px;
}

.single-latest-blog img {
	min-width: 100%;
}

.single-latest-blog .latest-text {
	padding-top: 25px;
}

.single-latest-blog .latest-text .tag-list {
	margin-bottom: 8px;
}

.single-latest-blog .latest-text .tag-list .tag-item {
	font-size: 16px;
	color: #a2a1a1;
	display: inline-block;
	margin-right: 15px;
}

.single-latest-blog .latest-text .tag-list .tag-item i {
	color: #e7ab3c;
}

.single-latest-blog .latest-text a {
	display: block;
}

.single-latest-blog .latest-text a h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

.benefit-items {
	border: 1px solid #ebebeb;
	margin-top: 45px;
}

.benefit-items .single-benefit {
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	border-right: 1px solid #F3F4F0;
}

.benefit-items .single-benefit .sb-icon {
	float: left;
	margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
	display: table;
}

.benefit-items .single-benefit .sb-text h6 {
	color: #252525;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
	margin-bottom: 0;
	color: #252525;
	line-height: 20px;
}






