@media only screen and (min-width: 1200px) and (max-width: 1920px) {
	.inner-header .advanced-search .input-group button {
		right: -14px;
	}
	.product-item .pi-pic ul li a {
		padding: 16px 12px 12px 11px;
	}
	.nav-item .nav-menu li a {
		padding: 16px 45px 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inner-header .advanced-search .category-btn {
		max-width: 36%;
	}
	.inner-header .advanced-search .input-group {
		max-width: 64%;
	}
	.nav-item .nav-menu li a {
		padding: 16px 26px 15px;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 5px;
	}
	.countdown-timer .cd-item {
		margin-right: 26px;
	}
	.product-details .quantity .primary-btn.pd-cart {
		padding: 14px 30px 10px;
	}
	.tab-item ul li a {
		padding: 18px 39px;
	}
	.inner-header .advanced-search .input-group button {
		right: -7px;
	}
	.product-shop .product-item .pi-pic ul li a {
		padding: 16px 12px 12px 11px;
	}
	.related-products .product-item .pi-pic ul li a {
		padding: 16px 12px 12px 11px;
	}
}

@media only screen and (max-width: 991px) {
	.banner-section {
		padding: 80px 0 50px;
	}
	.single-banner {
		margin-bottom: 30px;
	}
	.women-banner {
		padding-right: 0;
		padding-left: 0;
	}
	.product-large {
		margin-left: 0;
		margin-right: 0;
	}
	.deal-of-week {
		margin-left: 0;
		margin-right: 0;
	}
	.product-slider .owl-nav button[type=button] {
		display: none;
	}
	.man-banner {
		padding-right: 0;
		padding-left: 0;
	}
	.place-order {
		padding-top: 30px;
	}
	.blog-tags {
		padding-bottom: 40px;
	}
	.blog-details-inner .blog-post .prev-blog {
		margin-bottom: 40px;
	}
	.contact-form {
		padding-top: 40px;
	}
	.product-large.m-large {
		margin-top: 40px;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 5px;
	}
	.product-shop.page-details .product-details {
		padding-top: 30px;
	}
	.inner-header .advanced-search .input-group button {
		right: -8px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-top .ht-right .login-panel {
		padding-left: 10px;
	}
	.header-top .ht-right .top-social {
		padding-right: 10px;
	}
	.header-top .ht-left .mail-service {
		padding-right: 10px;
	}
	.header-top .ht-left .phone-service {
		padding-left: 10px;
	}
	.header-top .ht-right .top-social a {
		margin-left: 10px;
	}
	.inner-header .advanced-search .category-btn {
		max-width: 40%;
		padding-right: 25px;
	}
	.inner-header .advanced-search .input-group {
		max-width: 60%;
	}
	.inner-header .nav-right li {
		margin-left: 8px;
	}
	.nav-item .nav-depart .depart-btn {
		padding: 14px 40px 14px 18px;
	}
	.nav-item .nav-menu li a {
		padding: 16px 10px 15px;
	}
	.instagram-photo .insta-item .inside-text h5 {
		font-size: 14px;
	}
	.tab-item ul li a {
		padding: 18px 39px;
	}
	.hero-items .off-card {
		left: 62%;
	}
	.blog-details-inner .blog-post .prev-blog {
		padding-left: 30px;
	}
	.blog-details-inner .blog-post .next-blog {
		padding-right: 30px;
	}
	.blog-sidebar,
	.produts-sidebar-filter {
		padding-top: 50px;
	}
	.checkout-content input {
		margin-top: 50px;
	}
}

/* Large Device: 480px */

@media only screen and (max-width: 767px) {
	.instagram-photo .insta-item {
		width: 50%;
		height: 300px;
	}
	.copyright-reserved .copyright-text {
		float: none;
		margin-bottom: 10px;
		text-align: center;
	}
	.copyright-reserved .payment-pic {
		float: none;
		text-align: center;
	}
	.header-top .ht-left,
	.header-top .top-social {
		display: none;
	}
	.header-top .ht-right .login-panel {
		padding-top: 9px;
		padding-bottom: 7px;
	}
	.header-top .ht-right .lan-selector {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.inner-header .advanced-search .category-btn {
		display: none;
	}
	.inner-header .advanced-search .input-group {
		max-width: 100%;
	}
	.inner-header {
		padding: 0;
	}
	.inner-header .logo {
		text-align: center;
	}
	.inner-header .nav-right {
		text-align: left;
	}
	.inner-header .nav-right li:first-child {
		margin-left: 0;
	}
	.nav-item .nav-depart .depart-btn {
		padding: 14px 50px 14px 18px;
	}
	.nav-item {
		background: transparent;
	}
	.nav-item .nav-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		text-align: center;
		margin-top: -48px;
	}
	.slicknav_nav {
		background: #333;
	}
	.slicknav_nav ul {
		margin: 0;
		text-align: left;
	}
	.slicknav_nav a,
	.slicknav_nav .slicknav_row {
		margin: 0;
	}
	.slicknav_nav .dropdown a {
		padding-left: 25px;
	}
	.nav-item .nav-depart {
		display: none;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #e7ab3c;
		display: inline-block;
		right: -16px;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 15px;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #e7ab3c;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #e7ab3c;
		color: #fff;
	}
	.inner-header .nav-right li.cart-icon .cart-hover {
		left: -50px;
	}
	.product-show-option p {
		text-align: left;
	}
	.tab-item ul li a {
		padding: 18px 51px;
		margin-bottom: 10px;
	}
	.cart-table {
		overflow: auto;
	}
	.cart-table table tr th {
		font-size: 12px;
	}
	.hero-items .single-hero-items {
		padding: 110px 25px 80px;
		height: auto;
		background: left center;
	}
	.hero-items .single-hero-items h1 {
		font-size: 40px;
	}
	.blog-details-inner .tag-share .details-tag ul li {
		margin-right: 10px;
	}
	.blog-details-inner .tag-share .blog-share .social-links a {
		margin-left: 15px;
	}
	.blog-details-inner .blog-detail-title p:before {
		left: -135px;
		width: 100px;
	}
	.blog-details-inner .blog-detail-title p:after {
		right: -135px;
		width: 100px;
	}
	.hero-items .off-card {
		display: none;
	}
	.ps-slider .owl-nav button[type=button] {
		left: 0;
	}
	.ps-slider .owl-nav button[type=button].owl-next {
		right: 0;
	}
	.blog-details-inner .blog-post .prev-blog {
		padding-left: 30px;
	}
	.blog-details-inner .blog-post .next-blog {
		padding-right: 30px;
	}
	.blog-details-inner .posted-by {
		padding: 40px 25px;
		text-align: center;
	}
	.blog-details-inner .posted-by .pb-pic {
		float: none;
		margin-bottom: 30px;
	}
	.blog-details-inner .posted-by .pb-text {
		padding-left: 0;
	}
	.blog-sidebar,
	.produts-sidebar-filter {
		padding-top: 50px;
	}
	.checkout-content input {
		margin-top: 50px;
	}
}

/* Small Device: 320px */

@media only screen and (max-width: 479px) {
	.instagram-photo .insta-item {
		width: 100%;
	}
	.inner-header .advanced-search .category-btn {
		display: none;
	}
	.inner-header .advanced-search .input-group {
		max-width: 100%;
	}
	.inner-header .nav-right li.cart-icon .cart-hover {
		width: 270px;
		padding: 20px;
	}
	.countdown-timer .cd-item {
		margin-right: 5px;
		padding: 10px 6px;
	}
	.product-show-option .select-option {
		display: inline-block;
	}
	.product-show-option .select-option .sorting.nice-select {
		margin-bottom: 10px;
	}
	.product-details .quantity .primary-btn.pd-cart {
		padding: 14px 20px 10px;
	}
	.tab-item ul li a {
		padding: 18px 30px;
		margin-bottom: 10px;
	}
	.specification-table table tr td.p-catagory {
		width: 160px;
	}
	.blog-details-inner .blog-post .next-blog .nb-pic i {
		display: none;
	}
	.blog-details-inner .blog-post .prev-blog .pb-pic i {
		display: none;
	}
	.blog-details-inner .tag-share .details-tag {
		float: none;
		margin-bottom: 10px;
	}
	.blog-details-inner .tag-share .blog-share {
		float: none;
	}
	.blog-details-inner .blog-detail-title p:before {
		left: -62px;
		width: 50px;
	}
	.blog-details-inner .blog-detail-title p:after {
		right: -62px;
		width: 50px;
	}
	.blog-details-inner .posted-by .pb-pic {
		float: none;
		margin-bottom: 15px;
	}
	.blog-details-inner .posted-by .pb-text {
		padding-left: 0;
		display: block;
	}
	.checkout-form .place-order .order-total {
		padding-left: 20px;
		padding-right: 20px;
	}
	.contact-widget .cw-item .ci-icon {
		float: none;
		margin-bottom: 5px;
	}
	.contact-widget .cw-item .ci-text {
		padding-left: 0;
	}
	.benefit-items .single-benefit {
		padding-left: 15px;
		padding-right: 15px;
	}
}
