<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0" metadata-complete="true">

  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AddProductControllerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisterUserControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.RegisterUserControllerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CheckEmailAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.CheckEmailAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterUserControllerServlet</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CheckEmailAjaxServlet</servlet-name>
    <url-pattern>/checkemail</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.LogoutControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


</web-app>