<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0" metadata-complete="true">

  <!-- Add Category Servlet -->
  <servlet>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AddCategoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/addcategory</url-pattern>
  </servlet-mapping>


  <!-- Add product Servlet -->
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AddProductControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>


  <!-- Check out servlet -->
  <servlet>
    <servlet-name>AdminProductLoadControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AdminProductLoadControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminProductLoadControllerServlet</servlet-name>
    <url-pattern>/adminproducts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckoutControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.CheckoutControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckoutControllerServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>


  <!-- Contact message servlet -->
  <servlet>
    <servlet-name>AdminRemoveProductControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AdminRemoveProductControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminRemoveProductControllerServlet</servlet-name>
    <url-pattern>/removeproduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminEditProductControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.AdminEditProductControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminEditProductControllerServlet</servlet-name>
    <url-pattern>/editproduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ContactMessageServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ContactMessageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ContactMessageServlet</servlet-name>
    <url-pattern>/contactmessage</url-pattern>
  </servlet-mapping>


  <!-- Load contact message servlet -->
  <servlet>
    <servlet-name>LoadContactMessagesServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ContactMessagesLoadControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoadContactMessagesServlet</servlet-name>
    <url-pattern>/loadcontactmessages</url-pattern>
  </servlet-mapping>


  <!-- Execute payment cservlet -->
  <servlet>
    <servlet-name>ExecutePaymentControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ExecutePaymentControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ExecutePaymentControllerServlet</servlet-name>
    <url-pattern>/execute_payment</url-pattern>
  </servlet-mapping>


  <!-- Forget password servlet -->
  <servlet>
    <servlet-name>ForgetPasswordControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ForgetPasswordControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ForgetPasswordControllerServlet</servlet-name>
    <url-pattern>/forgetpassword</url-pattern>
  </servlet-mapping>


  <!-- Home Page servlet -->
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>


  <!-- Login servlet -->
  <servlet>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.LoginControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>


  <!-- Logout servlet -->
  <servlet>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.LogoutControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


  <!-- Order History servlet -->
  <servlet>
    <servlet-name>OrderHistoryControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.OrderHistoryControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OrderHistoryControllerServlet</servlet-name>
    <url-pattern>/order-history</url-pattern>
  </servlet-mapping>


  <!-- Page not found servlet -->
  <servlet>
    <servlet-name>PageNotFoundServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.PageNotFoundServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PageNotFoundServlet</servlet-name>
    <url-pattern>/page-not-found</url-pattern>
  </servlet-mapping>


  <!-- Place order controller servlet -->
  <servlet>
    <servlet-name>PlaceOrderControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.PlaceOrderControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlaceOrderControllerServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>


  <!-- Product load Controller servlet -->
  <servlet>
    <servlet-name>ProductLoadControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ProductLoadControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductLoadControllerServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>


  <!-- Register servlet -->
  <servlet>
    <servlet-name>RegisterUserControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.RegisterUserControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterUserControllerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>


  <!-- Review payment servlet -->
  <servlet>
    <servlet-name>ReviewPaymentControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ReviewPaymentControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReviewPaymentControllerServlet</servlet-name>
    <url-pattern>/review-payment</url-pattern>
  </servlet-mapping>


  <!-- Search controller servlet -->
  <servlet>
    <servlet-name>SearchControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.SearchControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchControllerServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>


  <!-- Update password controller servlet -->
  <servlet>
    <servlet-name>UpdatePasswordControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.UpdatePasswordControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdatePasswordControllerServlet</servlet-name>
    <url-pattern>/updatepassword</url-pattern>
  </servlet-mapping>


  <!-- User history load controller servlet -->
  <servlet>
    <servlet-name>LoadUsersServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.UsersHistoryLoadControllerServlet</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>LoadUsersServlet</servlet-name>
    <url-pattern>/loadusers</url-pattern>
  </servlet-mapping>


  <!-- Validate otpc controller servlet -->
  <servlet>
    <servlet-name>ValidateOtpControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.ValidateOtpControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ValidateOtpControllerServlet</servlet-name>
    <url-pattern>/validateotp</url-pattern>
  </servlet-mapping>



  <!-- Verify code controller servlet -->
  <servlet>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.VerifyCodeControllerServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>


  <!-- Wishlist controller servlet -->
  <servlet>
    <servlet-name>WishlistControllerServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.WishlistControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WishlistControllerServlet</servlet-name>
    <url-pattern>/wishlist</url-pattern>
  </servlet-mapping>


  <!--  User profile update servlet  -->

  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.UserProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateProfileServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.UserUpdateProfileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserUpdateProfileServlet</servlet-name>
    <url-pattern>/userupdateprofile</url-pattern>
  </servlet-mapping>

   <!-- User Order History -->
   <servlet>
    <servlet-name>UserOrderHistoryServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.UserOrderHistoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserOrderHistoryServlet</servlet-name>
    <url-pattern>/userorderhistory</url-pattern>
  </servlet-mapping>



  <!-- Category load ajax servlet-->
  <servlet>
    <servlet-name>CategoryLoadAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.CategoryLoadAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CategoryLoadAjaxServlet</servlet-name>
    <url-pattern>/categoryload</url-pattern>
  </servlet-mapping>


  <!-- Check email controller servlet -->
  <servlet>
    <servlet-name>CheckEmailAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.CheckEmailAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckEmailAjaxServlet</servlet-name>
    <url-pattern>/checkemail</url-pattern>
  </servlet-mapping>


  <!-- Decrement product quantity -->
  <servlet>
    <servlet-name>DecrementProductQuantityCartAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.DecrementProductQuantityCartAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DecrementProductQuantityCartAjaxServlet</servlet-name>
    <url-pattern>/addproducttocartminus</url-pattern>
  </servlet-mapping>



  <!-- Increment product quantity -->
  <servlet>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.IncrementProductQuantityCartAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddProductToCartServlet</servlet-name>
    <url-pattern>/addproducttocartplus</url-pattern>
  </servlet-mapping>


  <!-- Remove product from cart -->
  <servlet>
    <servlet-name>RemoveProductFromCartAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.RemoveProductFromCartAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RemoveProductFromCartAjaxServlet</servlet-name>
    <url-pattern>/removeproductfromcart</url-pattern>
  </servlet-mapping>


  <!-- Wishlist add ajax servlet -->
  <servlet>
    <servlet-name>WishlistAddAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.WishlistAddAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WishlistAddAjaxServlet</servlet-name>
    <url-pattern>/wishlist-add</url-pattern>
  </servlet-mapping>


  <!-- Wishlist remove ajax servlet -->
  <servlet>
    <servlet-name>WishlistRemoveAjaxServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.WishlistRemoveAjaxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WishlistRemoveAjaxServlet</servlet-name>
    <url-pattern>/wishlist-remove</url-pattern>
  </servlet-mapping>

  <!-- Empty Wishlist  -->
  <servlet>
    <servlet-name>EmptyWishlist</servlet-name>
    <servlet-class>gov.iti.jets.presentation.ajaxservlet.EmptyWishlist</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmptyWishlist</servlet-name>
    <url-pattern>/empty-wishlist</url-pattern>
  </servlet-mapping>


  <!-- Befor home jsp -->
  <servlet>
    <servlet-name>BeforeHomePageServlet</servlet-name>
    <servlet-class>gov.iti.jets.presentation.servlets.BeforeHomePageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BeforeHomePageServlet</servlet-name>
    <url-pattern>/beforeHome</url-pattern>
  </servlet-mapping>


  <!-- Cart page -->
  <servlet>
    <servlet-name>CartPage</servlet-name>
    <jsp-file>/shopping-cart.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>CartPage</servlet-name>
    <url-pattern>/shopping-cart</url-pattern>
  </servlet-mapping>


  <!-- Input validation filters -->
  <!-- <filter>
    <filter-name> LoginPageFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.inputvalidationfilters.LoginPageFilter </filter-class>
  </filter>


  <filter-mapping>
      <filter-name> LoginPageFilter </filter-name>
      <url-pattern> /login </url-pattern>
  </filter-mapping>


  <filter>
    <filter-name> RegisterPageFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.inputvalidationfilters.RegisterPageFilter </filter-class>
  </filter>
 -->

  <!-- <filter-mapping>
    <filter-name> RegisterPageFilter </filter-name>
    <url-pattern> /register </url-pattern>
  </filter-mapping> -->


  <!-- <filter>
    <filter-name> AddCategoryPageFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.inputvalidationfilters.AddCategoryPageFilter  </filter-class>
  </filter>

  <filter-mapping>
    <filter-name> AddCategoryPageFilter </filter-name>
    <url-pattern> /addcategory </url-pattern>
  </filter-mapping>


  <filter>
    <filter-name> AddProductPageFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.inputvalidationfilters.AddProductPageFilter </filter-class>
  </filter>

  <filter-mapping>
    <filter-name> AddProductPageFilter </filter-name>
    <url-pattern> /addproduct </url-pattern>
  </filter-mapping>


  <filter>
    <filter-name> ContactPageFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.inputvalidationfilters.ContactPageFilter </filter-class>
  </filter>

  <filter-mapping>
    <filter-name> ContactPageFilter </filter-name>
    <url-pattern> /contact </url-pattern>
  </filter-mapping>
   -->
  <!-- Authentication filters -->

  <!-- <filter>
    <filter-name> JSPFilesFilter </filter-name>
    <filter-class> gov.iti.jets.presentation.filters.authenticationfilters.JSPFilesFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name> JSPFilesFilter </filter-name>
    <url-pattern> *.jsp </url-pattern>
  </filter-mapping> -->

  <!-- Jsp pages filters -->


  <!-- Listeners -->
  <listener>
    <listener-class> gov.iti.jets.presentation.listeners.MyAppListener </listener-class>
  </listener>

  <listener>
    <listener-class> gov.iti.jets.presentation.listeners.SessionListener </listener-class>
  </listener>


  <welcome-file-list>
    <welcome-file>beforeHome</welcome-file>
  </welcome-file-list>

</web-app>